<li class="tool">
  <span class="tool-name">{{ include.t.name }}</span>
  <span class="tool-summary">{{ include.t.summary }}</span>
  <span class="tool-links">
    {% if include.t.biotools and include.t.biotools != "" %}<a href="https://bio.tools/{{ include.t.biotools }}" title="Entry on bio.tools"><img src="{{ '/assets/img/biotools-grey.svg' | relative_url }}" alt="bio.tools" width="18" height="18"></a>{% endif %}
    {% if include.t.repo and include.t.repo != "" %}<a href="{{ include.t.repo }}" title="Source code on GitHub"><img src="{{ '/assets/img/github-grey.svg' | relative_url }}" alt="GitHub" width="18" height="18"></a>{% endif %}
    {% if include.t.docs and include.t.docs != "" %}<a href="{{ include.t.docs }}" title="Documentation"><img src="{{ '/assets/img/readthedocs-grey.svg' | relative_url }}" alt="Documentation" width="18" height="18"></a>{% endif %}
    {% if include.t.doi and include.t.doi != "" %}<a href="https://doi.org/{{ include.t.doi }}" title="Publication"><img src="{{ '/assets/img/doi-grey.svg' | relative_url }}" alt="Publication (DOI)" width="18" height="18"></a>{% endif %}
    {% if include.t.zenodo and include.t.zenodo != "" %}<a href="{{ include.t.zenodo }}" title="Archived release on Zenodo"><img src="{{ '/assets/img/zenodo-grey.svg' | relative_url }}" alt="Zenodo" width="18" height="18"></a>{% endif %}
    {% if include.t.pypi and include.t.pypi != "" %}<a href="https://pypi.org/project/{{ include.t.pypi }}/" title="Install from PyPI"><img src="{{ '/assets/img/pypi-grey.svg' | relative_url }}" alt="PyPI" width="18" height="18"></a>{% endif %}
    {% if include.t.conda and include.t.conda != "" %}<a href="https://anaconda.org/conda-forge/{{ include.t.conda }}" title="Install from conda-forge"><img src="{{ '/assets/img/condaforge-grey.svg' | relative_url }}" alt="conda-forge" width="18" height="18"></a>{% endif %}
    {% if include.t.bioconda and include.t.bioconda != "" %}<a href="https://anaconda.org/channels/bioconda/packages/{{ include.t.bioconda }}/overview" title="Install from Bioconda"><img src="{{ '/assets/img/anaconda-grey.svg' | relative_url }}" alt="Bioconda" width="18" height="18"></a>{% endif %}
    {% if include.t.license and include.t.license != "" %}<span class="tool-license" title="Licence">{{ include.t.license }}</span>{% endif %}
  </span>
</li>
